.Section__header {
    height: 48px;
    padding: 0 16px;
    background: #CFD8DC;
}

.Section__title {
    display: inline-block;
    margin: 0;
    line-height: 48px;
    width: 90%;
}

.Section__toggle {
    display: inline-block;
    line-height: 48px;
    text-align: right;
    width: 10%;
}

.Section__toggle-button {
    display: inline-block;
    text-align: center;
    width: 48px;
    border-radius: 24px;
}

.Section__toggle-button:hover {
    background: #FFFFFF;
}